header nav{
    background-color: lightpink;
    width: 100%;
    height: 100px;
}
aside {
    background-color: lightskyblue;
    width: 20%;
    height: 350px;
}
main{
    background-color: lightgoldenrodyellow;
    width: 80%;
    height: 350px;
}
footer{
    background-color: grey;
    width: 100%;
    height: 20px;
}