html, body {
    width: 100%;
    height: 100%;
    grid-gap: 1px;
}

body {
    display: grid;
    grid-template-areas: 'h h h' 'al m ar' 'f f f';
    grid-auto-columns: 150px 1fr 150px;
    grid-template-rows: 100px 1fr 50px;
}

header.navigation {
    grid-area: h;
    background-color: lightpink;
    border: 1px solid black;
    padding: 5px 10px;
}

aside.left {
    grid-area: al;
    background-color: lightskyblue;
    border: 1px solid black;
    padding: 5px 10px;
}

aside.right {
    grid-area: ar;
    background-color: lightskyblue;
    border: 1px solid black;
    padding: 5px 10px;
}

main {
    grid-area: m;
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
    padding: 5px 10px;
}

footer {
    grid-area: f;
    background-color: grey;
    border: 1px solid black;
    padding: 5px 10px;
}